<!-- Comienza el Header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Termina el Header -->

<!-- Comienza el Content -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Comienza un Card -->
  <ion-card>
    <!-- Contenido de un Card -->
    <ion-card-content>
      <ion-item lines="none">
        <!-- {{interpolacion}} 
          Permite mostrar los datos desde el script a la visual
          verificar el data en el home.page.ts
        -->
        <ion-label >Usuario: {{data.usuario}}</ion-label>
      </ion-item>
    </ion-card-content>
    <!-- Contenido de un Card -->
  </ion-card>
  <!-- Termina un Card -->
</ion-content>
<!-- Termina el Content -->
